.*
*~
bazel-*
build/*
bin/*
lib/*
var/*
logs/*
kv_cache_manager/optimizer/analysis/result/*
kv_cache_manager/optimizer/logs/*
__pycache__/
!.git*
!.clang-format
!.bazelrc
!.bazeliskrc
!.aoneci
compile_commands.json
stub_source

# Large data files
kv_cache_manager/optimizer/tools/kimi_k3_test/output/*
kv_cache_manager/optimizer/tools/kimi_k3_test/report/*
kv_cache_manager/optimizer/tools/kimi_k3_test/trace/*
kv_cache_manager/optimizer/tools/kimi_k3_test/trace_local/*